<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337730650555-ni26o23adgai1gf6udgkqka9tm3fnuv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337730650555-ni26o23adgai1gf6udgkqka9tm3fnuv1</string>
	<key>API_KEY</key>
	<string>AIzaSyAvJL1Hkd2DEScTP6TFPpnpjo24MDJrLw8</string>
	<key>GCM_SENDER_ID</key>
	<string>337730650555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emotionsAndCareV1</string>
	<key>PROJECT_ID</key>
	<string>emotionsandcareal</string>
	<key>STORAGE_BUCKET</key>
	<string>emotionsandcareal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337730650555:ios:94bbde6931b348cebcc49e</string>
</dict>
</plist>